{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
  {% for message in app.flashes('notice') %}
    <div class="flash-notice">{{ message }}</div>
  {% endfor %}

  <twig:LinkAccountSection />

  {% if app.user.linked %}
    <div>Shikimori account id is {{ app.user.accountId }}</div>
  {% endif %}
{% endblock %}
