{% extends 'app.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <twig:PageHeader>Profile</twig:PageHeader>

  <twig:LinkAccountSection />

  {% if app.user.linked %}
    <div class="mt-4">Shikimori account id is {{ app.user.accountId }}</div>
  {% endif %}
{% endblock %}
