{% set starIcon %}
  <twig:Icon:Star />
{% endset %}

{% set csrfName = constant('App\\Twig\\Component\\SimpleForm::CSRF_TOKEN_FIELD') %}
{% set csrfValue = csrf_token(constant('App\\Twig\\Component\\SimpleForm::CSRF_TOKEN_ID')) %}

{% set syncInProgress = this.user.sync.inProgress %}

<section class="series-list columns-2 mt-4">
  {% for series in this.series %}
    {% include 'components/SeriesList.item.html.twig' with {
      series,
      starIcon,
      csrfName,
      csrfValue,
      syncInProgress
    } only %}
  {% else %}
    No series found.
  {% endfor %}
</section>
